<!DOCTYPE html> 
<html>

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">
    <body>
        <div class="main-content">
        {{>header}}
        <h1>About {{name}}</h1>
        <img class="portrait" src="/img/2523449_11921852.jpeg">
        </div>
        
        {{>footer}}
    </body>

</head>

</html>