<!DOCTYPE html> 
<html>

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">
    <body>
        <div class="main-content">
        {{>header}}
        <h1>About {{name}}</h1>
        <p>
            This is an experimental website built using NodeJS and is used to demonstrate all its capabiliites using 
            simple API calls to the weather APIs.
        </p>
        <img class="portrait" src="/img/2523449_11921852.jpeg">
        </div>
        
        {{>footer}}
    </body>

</head>

</html>